@charset "UTF-8";

/* VARIABLES */

:root {
  /* Font settings */
  --font-family: sans-serif;
  --font-size: 12px;
}


@font-face {
	font-family: 'AkzidenzGrotesk-Regular';
	src: url('fonts/AkzidenzGrotesk-Regular.otf');  
    format('otf');
}

/*Landing Variable Font Animation*/
@keyframes vars {
  0% {
    font-variation-settings: "MONO" 0, "CASL" 1, "CRSV" 0, "wght" 1000, "slnt" 0;
  }
    
  25% {
   font-variation-settings: "MONO" 0, "CASL" 0, "CRSV" 0, "wght" 600, "slnt" 0;
  } 
  
 50% {
    font-variation-settings: "MONO" 0, "CASL" 1, "CRSV" 0, "wght" 600, "slnt" -15;
  } 
  
  75% {
    font-variation-settings: "MONO" 0, "CASL" 0, "CRSV" 1, "wght" 300, "slnt" -10;
  } 
  
  100% {
    font-variation-settings: "MONO" 0, "CASL" 1, "CRSV" 0, "wght" 1000, "slnt" 0;
  }
}


@font-face {
  font-family: 'Recursive VF';
  font-style: oblique -15deg 0deg; 
  font-weight: 300 1000;
  font-display: swap;
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/13034/Recursive_VF_1.043--subset_range_english_basic.woff2') format('woff2');
}

:root {
  --dur:10s;
}

h1 {  margin-left: 1rem;
    font-size: 5rem;
  font-variation-settings: "MONO" 0, "CASL" 0, "CRSV" 0, "wght" 1000, "slnt" 0;
    background: -webkit-linear-gradient(black, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color:black; 
  // will-change:font-variation-settings;
  animation: vars var(--dur) infinite linear both;
}

.wrap {
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  width: 100vw;
     font-family: "Recursive VF", sans-serif;
 background: none;
 text-shadow: 0 0 10px white, 0 0 10px white;
 -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color:white;
}

/*FULL BG*/
body { background: linear-gradient(180deg, white, #006fff, #d6ff8f, white, #ff6300, #c8a0f2,white, #ff0000, white);
    background-size: 400% 400%;
    height: 100vh;
    margin: auto;

    -webkit-animation: gradient 120s ease infinite;
    -moz-animation: gradient 120s ease infinite;
    animation: gradient 120s ease infinite;
}

@-webkit-keyframes gradient {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes gradient {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes gradient {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}


/*HEADER*/
.header {
    font-family: sans-serif;
    font-size: 20pt;
    margin: auto;
    top:0;
    position: fixed;
    background-color: white;  
    z-index: 95;
    padding-bottom:5px;  
    width: 100vw;
}


/*IMAGES*/
.images {
    width: 200px;
    filter: blur(10px);
  -webkit-filter: blur(10px);
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
   
    }

#imagesubtitle {
  width: 200px;
  display: block;
margin-top: 2pt;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: 8pt;
 font-family: sans-serif;
letter-spacing: normal;    
}

.images:hover {
     filter: blur(0px);
  -webkit-filter: blur(0px);
    }

/*TITLES*/
#chaptertitle {
    font: var(--font-size) 
    var(--font-family);
    font-family: AkzidenzGrotesk-Regular;
    letter-spacing: normal;
    margin-left: 0;
    color:black;
    text-shadow: 0 0 2px black, 0 0 2px black;
 -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:black;
}

#subchaptertitle {
    font-family: AkzidenzGrotesk-Regular;
    letter-spacing: normal;
    margin-right: 1rem;
    color:black;
     text-shadow: 0 0 2px black, 0 0 2px black;
 -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:black;
}


.quote {  font: var(--font-size) var(--font-family);
    font-family: AkzidenzGrotesk-Regular;
    letter-spacing: normal;
    color: black;
    padding-left: 5rem;
}
    

/*FOOTNOTES*/
/* Hiding and showing the popup div */
/* Styling the button and the link */
/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
   animation: 2s infinite alternate blurMe ease-out;  
   color:blue;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  font-family: AkzidenzGrotesk-Regular;
  width: 160px;
  background-color:white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
}

@keyframes blurMe {
  from {
    filter: blur( 0px ) saturate(0);
  }
  to {
    filter: blur( 25px ) saturate(100);
  }
}


/*MAIN TEXT PART*/

.main{ background: none;
	height: 100vh;
    margin: auto;
    padding: 2rem;
    padding-top: 1rem;
    padding-bottom: 0;
    font: var(--font-size) var(--font-family);
    font-family: AkzidenzGrotesk-Regular;
    letter-spacing: normal;
    line-height: 1.2; 
    z-index: 95;
    color:black;
}

/*NAVIGATION BAR-FOOTER*/

.footer {
    position: sticky;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    text-align: left;
    padding: 2pt;
    background-color: none;
    margin: 0;
    z-index: 98;
}

.footer a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    word-spacing: 10pt;
}

.footer a:hover {
     color: lawngreen;
}


/* GENERAL USABILITY */

/* hide desktop mobile etc */

.desktop {
  display: block;
}

.mobile {
  display: none;
}

/* if you want to hide something visually but want to keep it readable / accessible for screen readers (sr) */

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

/* MEDIA QUERIES */

/* responsive typeface */

@media (max-width: 298px) { 
  :root{ --font-size: 15px; } html, body {font: var(--font-size) var(--font-family);} 
}
@media (min-width: 299px) and (max-width: 339px) { 
  :root{ --font-size: 16px; } html, body {font: var(--font-size) var(--font-family);} 
}
@media (min-width: 340px) and (max-width: 439px) { 
  :root{ --font-size: 17px; } html, body {font: var(--font-size) var(--font-family);} 
}
@media (min-width: 440px) and (max-width: 599px) { 
  :root{ --font-size: 18px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 600px) and (max-width: 779px) { 
  :root{ --font-size: 19px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 780px) and (max-width: 992px) { 
  :root{ --font-size: 20px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 993px) and (max-width: 1200px) { 
  :root{ --font-size: 22px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 1201px) and (max-width: 1319px) { 
  :root{ --font-size: 24px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 1320px) and (max-width: 1619px) { 
  :root{ --font-size: 26px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 1620px) and (max-width: 1879px) { 
  :root{ --font-size: 28px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 1880px) { 
  :root{ --font-size: 30px; } html, body {font: var(--font-size) var(--font-family);}
}



/* website media queries */

@media (max-width: 779px) {

  /* styles for screen sizes 779px, should covers 'mobile' and 'tablet' */
  /* style this one first and then use the two others to 'override' some styles (exceptions/details) */






  /* utilities */

  .desktop{display:none!important;}
  .mobile{display:block;}

}



@media (max-width: 339px) {

  /* use this query to apply style changes to smaller smartphones sizes (like an iPhone 5S or SE 2016), max size of 339px */

}



@media (max-width: 779px) and (orientation: landscape) {

  /* use this query to apply style changes for 'mobile' screen sizes that are flipped in 'landscape' mode */

}



@media (min-width: 780px) and (max-width: 992px) {

  /* use this query to apply style for 'small' desktop screens */

}